<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="extend/think/queue/tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true">
    <testsuites>
        <testsuite name="Queue Tests">
            <directory>extend/think/queue/tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">extend/think/queue</directory>
        </include>
        <exclude>
            <directory suffix=".php">extend/think/queue/tests</directory>
        </exclude>
    </source>
</phpunit>