APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# telescope
TELESCOPE_DB_CONNECTION=

TELESCOPE_ENABLE_REQUEST=
TELESCOPE_ENABLE_COMMAND=
TELESCOPE_ENABLE_GRPC=
TELESCOPE_ENABLE_LOG=
TELESCOPE_ENABLE_REDIS=
TELESCOPE_ENABLE_EVENT=
TELESCOPE_ENABLE_EXCEPTION=
TELESCOPE_ENABLE_JOB=
TELESCOPE_ENABLE_DB=
TELESCOPE_ENABLE_GUZZLE=
TELESCOPE_ENABLE_CACHE=
TELESCOPE_ENABLE_RPC=

TELESCOPE_SERVER_ENABLED=